<?php

//
// Custom or overridden config here.
//

$settings['botAPI']['uri'] = 'https://api.nibl.local:8080/nibl/';

// Database custom settings
$settings['db']['host'] = '';
$settings['db']['port'] = 3306;
$settings['db']['username'] = '';
$settings['db']['database'] = '';
$settings['db']['password'] = '';
